[submodule "src/Symfony/Component/ClassLoader"]
	path = src/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "src/Symfony/Component/Console"]
	path = src/Symfony/Component/Console
	url = https://github.com/symfony/Console.git
